<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>getter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>postprocess</key>
			<string>none</string>
			<key>script</key>
			<string>getter</string>
			<key>setInsertionPoint</key>
			<false/>
			<key>uuid</key>
			<string>FEC13448-8A32-4ACB-AD90-0F36D3255184</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>setter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>setter</string>
			<key>uuid</key>
			<string>0757F4FA-4789-429E-9066-4C3AD5471900</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>private getter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>CreateGetters</string>
			<key>uuid</key>
			<string>7DB0C07E-BCC7-4CFD-AE51-BD5E2EDF8DF8</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>private setter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>setters</string>
			<key>uuid</key>
			<string>7E621CF8-A5BA-4C57-AEA7-77245C6CA616</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>public getter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>preprocess</key>
			<string>none</string>
			<key>script</key>
			<string>publicgetters</string>
			<key>uuid</key>
			<string>F8DF1563-DC1B-46D0-B21C-BD2D7EF7CD30</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>public setter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>publicsetters</string>
			<key>uuid</key>
			<string>085C6308-81E9-4595-B149-4C18C87ECB90</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>protected getter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>protectedgetter</string>
			<key>uuid</key>
			<string>AB54A9F5-4878-4448-A768-4D02D023D95E</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>protected setter</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>protectedsetter</string>
			<key>uuid</key>
			<string>3913288A-A158-4C4B-9AA9-3523FAA64151</string>
		</dict>
	</array>
</dict>
</plist>
